<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2>About Willyworks</h2>
        <hr class="small">
        <p class="lead">Willyworks（うぃりーわーくす）はクラウド・自動化（Infrastructure as Code, DevOps）を中心とした先進的なインフラの設計・構築や、その上でのアプリケーション開発までをトータルでサポート致します。</p>
        <p class="lead">所属企業公認での副業活動となるため、活動には限りがありますが、コストパフォーマンスに優れたサービスをご提供します。</p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
