<a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
<nav id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
    <li class="sidebar-brand">
      <a href="#top"  onclick = $("#menu-close").click(); >{{ site.title }}</a>
    </li>
    <li>
      <a href="#top" onclick = $("#menu-close").click(); >Home</a>
    </li>
    <li>
      <a href="#about" onclick = $("#menu-close").click(); >About</a>
    </li>
    <li>
      <a href="#profile" onclick = $("#menu-close").click(); >Profile</a>
    </li>
    <li>
      <a href="#services" onclick = $("#menu-close").click(); >Services</a>
    </li>
    <li>
      <a href="#activities" onclick = $("#menu-close").click(); >Activities</a>
    </li>
    <li>
      <a href="#websites" onclick = $("#menu-close").click(); >Websites</a>
    </li>
    <li>
      <a href="#contact" onclick = $("#menu-close").click(); >Contact</a>
    </li>
  </ul>
</nav>
