<section id="profile" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Profile</h2>
        <hr class="small">
        <p>照井 将士 (TERUI Masashi)</p>
        <p><img class="img-portfolio img-responsive" src="/img/profile1.png" style="width: 10%"/></p>
        <p>Cloud Architect / Developer</p>
      </div>
      <div class="col-lg-12 col-lg-offset-4 text-left">
        <p>プログラミング言語</p>
        <ul>
          <li>Python</li>
          <li>PHP</li>
          <li>Ruby(Railsではない)</li>
          <li>Golang</li>
        </ul>
      </div>
      <div class="col-lg-12 col-lg-offset-4 text-left">
        <p>資格など</p>
        <ul>
          <li>AWS認定DevOpsエンジニア - プロフェッショナル</li>
          <li>AWS認定ソリューションアーキテクト - アソシエイトレベル</li>
          <li>AWS認定SysOpsアドミニストレータ - アソシエイトレベル</li>
          <li>AWS認定デベロッパー - アソシエイトレベル</li>
        </ul>
      </div>
      <div class="col-lg-12 col-lg-offset-4 text-left">
        <p>コミュニティ活動など</p>
        <ul>
          <li><a href="http://gcpug.jp/">GCPUG</a>札幌 オーガナイザー (Google Cloud Platform)</li>
          <li><a href="http://infracode-sapporo.connpass.com/">Infra as Code Casual 札幌</a> オーガナイザー</li>
          <li><a href="http://jaws-ug.jp/">JAWS-UG</a>札幌 メンバー (Amazon Web Services)</li>
        </ul>
      </div>
      <div class="col-lg-12 col-lg-offset-4 text-left">
        <p>受賞歴など</p>
        <ul>
          <li>第５回<a href="https://www.facebook.com/tuningathon">チューニンガソン</a> 優勝</li>
        </ul>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
