<section id="websites" class="websites bg-primary">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-10 col-lg-offset-1">
        <h2>Websites</h2>
        <hr class="small">
        <div class="row">
          <div class="col-md-4 col-sm-6">
            <div class="service-item">
              <h4>
                <strong>はてなBlog</strong>
              </h4>
              <p>OSS開発報告、イベント登壇・参加報告や雑多な技術ネタ、近況報告など。</p>
              <a href="http://marcy.hatenablog.com/" class="btn btn-light">移動する</a>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="service-item">
              <h4>
                <strong>Qiita</strong>
              </h4>
              <p>明文化できるノウハウや技術紹介、備忘のための技術ネタなど。</p>
              <a href="http://qiita.com/marcy-terui" class="btn btn-light">移動する</a>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="service-item">
              <h4>
                <strong>GitHub</strong>
              </h4>
              <p>主にクラウドやInfra as Code関連のツールやプラグイン、参考実装などを公開しています。</p>
              <a href="https://github.com/marcy-terui" class="btn btn-light">移動する</a>
            </div>
          </div>
        </div>
        <!-- /.row (nested) -->
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
